<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />

        <title>SR Competition Scorer</title>

        <link href="{{ url_for('static', filename='images/icon.png') }}" type="image/png" rel="icon" />

        <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400,700" />

        <link href="{{ url_for('static', filename='styles/reset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='styles/all.css') }}" media="all" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <a href="{{ url_for('.index') }}">
                <h1>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" />
                    SR Competition Scorer
                </h1>
            </a>
        </header>

        <nav>
            <ul>
                {% block nav %}
                {% endblock %}
            </ul>
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>

</html>
