{% extends "_base.html" %}

{% macro match_cell(match, colspan=1, current_match=False) %}
    <td colspan="{{ colspan }}">
        {% if match is not none %}
            <a href="{{ url_for('.update', arena=match['arena'], num=match['num']) }}" class="{{ 'done' if is_match_done(match) else '' }}">
                {% if current_match %}
                    Current Match {{ match['num'] }} — <em>{{ match['teams'] | join(', ') }}</em>
                {% else %}
                    {{ '{0:03d}'.format(match['num']) }}
                {% endif %}
            </a>
        {% endif %}
    </td>
{% endmacro %}

{% block main %}
    <table class="match-choice">
        <tr>
            {% for arena, arena_settings in arenas.items() %}
                <th colspan="8">Arena {{ arena_settings.display_name }}</th>
            {% endfor %}
        </tr>

        <tr>
            {% for arena in arenas %}
                {% if arena in current_matches %}
                  {{ match_cell(current_matches[arena], colspan=8, current_match=True) }}
                {% else %}
                  <td colspan="8"></td>
                {% endif %}
            {% endfor %}
        </tr>

        {% for match_group in grouper(matches, 8) %}
            <tr>
                {% for arena, matches in group_list_dict(match_group, arenas).items() %}
                    {% for match_key in range(8) %}
                        {% if (matches | length) > match_key %}
                            {{ match_cell(matches[match_key]) }}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
