{% extends "_base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='styles/score-sheet.css') }}" rel="stylesheet" />
{% endblock %}

{% macro input_tla(x, y, corner) %}
    {% set current = request.form.get('tla_{}'.format(corner)) %}
    <foreignObject x="{{ x }}" y="{{ y }}" width="42" height="30">
        <label for="tla_{{ corner }}">TLA</label>
    </foreignObject>
    <foreignObject x="{{ x + 50 }}" y="{{ y }}" width="100" height="30">
        <select id="tla_{{ corner }}" name="tla_{{ corner }}">
            <option value=""></option>
            {% for tla, team in teams | dictsort %}
                <option value="{{ tla }}" {{ 'selected' if current == tla else '' }}>{{ tla }}</option>
            {% endfor %}
        </select>
    </foreignObject>
{% endmacro %}

{% macro input_flags(x, y, corner) %}
    <foreignObject x="{{ x }}" y="{{ y }}" width="72" height="30">
        <label for="flags_{{ corner }}"># Flags</label>
    </foreignObject>
    <foreignObject x="{{ x + 80 }}" y="{{ y }}" width="100" height="30">
        <input type="number" id="flags_{{ corner }}" name="flags_{{ corner }}" value="{{ request.form.get('flags_{}'.format(corner)) | empty_if_none }}" min="0" max="5" />
    </foreignObject>
{% endmacro %}

{% macro input_present(x, y, corner) %}
    <foreignObject x="{{ x }}" y="{{ y }}" width="92" height="30">
        <label for="present_{{ corner }}">Present</label>
    </foreignObject>
    <foreignObject x="{{ x + 100 }}" y="{{ y }}" width="30" height="30">
        <input type="checkbox" id="present_{{ corner }}" name="present_{{ corner }}" value="on" {{ 'checked' if request.form.get('present_{}'.format(corner)) else '' }} />
    </foreignObject>
{% endmacro %}

{% macro input_disqualified(x, y, corner) %}
    <foreignObject x="{{ x }}" y="{{ y }}" width="142" height="30">
        <label for="disqualified_{{ corner }}">Disqualified</label>
    </foreignObject>
    <foreignObject x="{{ x + 150 }}" y="{{ y }}" width="30" height="30">
        <input type="checkbox" id="disqualified_{{ corner }}" name="disqualified_{{ corner }}" value="on" {{ 'checked' if request.form.get('disqualified_{}'.format(corner)) else '' }} />
    </foreignObject>
{% endmacro %}

{% macro input_unclaimed_flags(x, y) %}
    <foreignObject x="{{ x }}" y="{{ y }}" width="150" height="30">
        <label for="unclaimed_flags">Unclaimed Flags</label>
    </foreignObject>
    <foreignObject x="{{ x }}" y="{{ y + 40}}" width="150" height="30">
        <input type="number" id="unclaimed_flags" name="unclaimed_flags" value="{{ request.form.get('unclaimed_flags') | empty_if_none }}" required min="0" max="5" />
    </foreignObject>
{% endmacro %}

{% block main %}
    <div class="score-sheet">
        <h1>{{ match['type'].value | title }} scores for match {{ match['num'] }} in arena {{ arenas[match['arena']].display_name }}</h1>

        <form method="POST">
            <svg xmlns="http://www.w3.org/2000/svg" height="675.65" width="675.65" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g transform="translate(-34.223 -267.04)">
                    <g transform="matrix(.84245 0 0 .84245 -7.0574 97.403)">
                        <rect height="799.99" width="799.99" stroke="#000" y="202.37" x="50.007" stroke-width="2.0146" fill="#f4f3ff"/>
                        <g fill="#fff5e0">
                            <path id="path3990" d="m850 402.36-200-200h-185l0.00002 250 134 135 251-0.27035z" stroke="#000" stroke-width="2.0002" fill="#fff5e0"/>
                            <use xlink:href="#path3990" transform="matrix(0 1 -1 0 1052.4 152.36)" height="900" width="1200" y="0" x="0"/>
                            <use xlink:href="#path3990" transform="matrix(-1 0 0 -1 900 1204.7)" height="900" width="1200" y="0" x="0"/>
                            <use xlink:href="#path3990" transform="matrix(0 -1 1 0 -152.36 1052.4)" height="900" width="1200" y="0" x="0"/>
                        </g>
                        <g stroke="#000" stroke-width="2" fill="#c9c9c9">
                            <path d="m435 752.36v150h30v-150z"/>
                            <path d="m301 587.36h-150v30h150z"/>
                            <path d="m465 452.36v-150h-30v150z"/>
                            <path d="m599 617.36h150v-30h-150z"/>
                        </g>
                        <g fill="#29af69">
                            <rect transform="rotate(45)" height="35.355" width="35.355" y="602.66" x="726.25"/>
                            <rect transform="rotate(45)" height="35.355" width="35.355" y="90.715" x="1238.2"/>
                            <rect transform="matrix(.70711 -.70711 -.70711 -.70711 0 0)" height="35.355" width="35.355" y="-249.05" x="-125.46"/>
                            <rect transform="matrix(.70711 -.70711 -.70711 -.70711 0 0)" height="35.355" width="35.355" y="-761" x="386.49"/>
                        </g>
                        <g font-size="29.734px" transform="matrix(1.0762 0 0 1.0762 -40.03 -18.511)" fill="#4d4d4d">
                            <text line-height="125%" y="256.8414" x="293.73587" xml:space="preserve"><tspan y="256.8414" x="293.73587">Zone 0</tspan></text>
                            <text xml:space="preserve" y="918.60278" x="514.323" line-height="125%"><tspan y="918.60278" x="514.323">Zone 2</tspan></text>
                            <text xml:space="preserve" y="256.64542" x="514.20685" line-height="125%"><tspan y="256.64542" x="514.20685">Zone 1</tspan></text>
                            <text line-height="125%" y="918.60278" x="293.93912" xml:space="preserve"><tspan y="918.60278" x="293.93912">Zone 3</tspan></text>
                        </g>
                    </g>

                    <!-- Zone 0 -->
                    {{ input_tla(154, 361, 0) }}
                    {{ input_flags(98, 441, 0) }}
                    {{ input_present(104, 515, 0) }}
                    {{ input_disqualified(54, 545, 0) }}

                    <!-- Zone 1 -->
                    {{ input_tla(444, 354, 1) }}
                    {{ input_flags(448, 441, 1) }}
                    {{ input_present(534, 515, 1) }}
                    {{ input_disqualified(484, 545, 1) }}

                    <!-- Zone 2 -->
                    {{ input_tla(524, 676, 2) }}
                    {{ input_flags(438, 751, 2) }}
                    {{ input_present(444, 815, 2) }}
                    {{ input_disqualified(394, 845, 2) }}

                    <!-- Zone 3 -->
                    {{ input_tla(94, 676, 3) }}
                    {{ input_flags(108, 762, 3) }}
                    {{ input_present(194, 815, 3) }}
                    {{ input_disqualified(144, 845, 3) }}

                    <!-- Unclaimed Flags -->
                    {{ input_unclaimed_flags(297, 565) }}
                </g>
            </svg>

            <input type="hidden" name="force" />
            <input type="submit" value="Enter Scores" />
        </form>
    </div>

    {% if error %}
        <aside class="dialogue fail">
            <div>
                <h1>Validation Error!</h1>
                <pre>{{ error }}</pre>
                <button data-action="hide">Correct problems</button>
                <button data-action="force">Save anyway</button>
            </div>
        </aside>
    {% elif done %}
        <aside class="dialogue success">
            <div>
                <h1>Success!</h1>
                <p>The scores have been updated successfully.</p>
                <button data-action="back">Select another Match</button>
                <button data-action="hide">Amend scores</button>
            </div>
        </aside>
    {% endif %}

    {% if error or done %}
        <script>
            var dialogue = document.querySelector('aside.dialogue');

            var hideBtns = document.querySelectorAll('[data-action=hide]');
            for (var i = 0; i < hideBtns.length; i++) {
                hideBtns[i].addEventListener('click', function() {
                    dialogue.hidden = true;
                });
            }

            var backBtns = document.querySelectorAll('[data-action=back]');
            for (var i = 0; i < backBtns.length; i++) {
                backBtns[i].addEventListener('click', function() {
                    window.location = '{{ url_for('.index') }}';
                });
            }

            var forceBtns = document.querySelectorAll('[data-action=force]');
            for (var i = 0; i < forceBtns.length; i++) {
                forceBtns[i].addEventListener('click', function() {
                    document.querySelector('input[name=force]').value = 'on';
                    document.querySelector('form').submit();
                });
            }
        </script>
    {% endif %}
{% endblock %}
