{% extends "_base.html" %}

{% block nav %}
    <li><a href="{{ url_for('.index') }}">Back to Home</a></li>
{% endblock %}

{% block main %}
    <h1>{{ match["type"].value | title }} scores for match {{ match["num"] }} in arena {{ arenas[match["arena"]].display_name }}</h1>

    {% if error %}
        <h2 class="error">{{ error }}</h2>
    {% elif done %}
        <h2 class="done">Scores updated successfully.</h2>
    {% endif %}

    <form method="POST">
        <table class="update_form">
            <tr>
                <th>Corner</th>
                {% for corner in corners %}
                <td>{{ corner }}</td>
                {% endfor %}
            </tr>

            <tr>
                <th colspan="5">Robot Information</th>
            </tr>

            <tr>
                <th>Team (TLA)</th>
                {% for corner in corners %}
                    <td>
                        {% if match["teams"][corner] is not none %}
                            {{ match["teams"][corner] }}
                            <input type="hidden" name="team_tla_{{ corner }}"
                                   value="{{ match["teams"][corner] }}" />
                        {% else %}
                            <em>Corner Empty</em>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Was the robot disqualified?</th>
                {% for corner in corners %}
                    <td>
                        {% if match["teams"][corner] is not none %}
                            <input type="checkbox" name="disqualified_{{ corner }}"
                                   value="on" {{ "checked" if request.form.get("disqualified_{}".format(corner), False) else "" }} />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Was the robot absent from this match?</th>
                {% for corner in corners %}
                    <td>
                        {% if match["teams"][corner] is not none %}
                            <input type="checkbox" name="absent_{{ corner }}" value="on"
                                   {{ "checked" if request.form.get("absent_{}".format(corner), False) else "" }} />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Number of flags captured?</th>
                {% for corner in corners %}
                    <td>
                        {% if match["teams"][corner] is not none %}
                            <input type="number" name="flags_{{ corner }}"
                                value="{{ request.form.get("flags_{}".format(corner), 0) }}"
                                required min="0" max="5" />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>

        <br />

        <input type="submit" value="Enter Scores" />

    </form>
{% endblock %}
