body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.2;

    margin: 0;
    padding: 2em 5em;
}

header {
    padding: 1em 1em 2em 1em;
    border-bottom: 1px solid rgb(220, 220, 220);
}

header a:hover {
    text-decoration: none;
}

header h1 {
    font-size: 3em;
    font-weight: 100;
    margin: 0;
}

header h1 > img {
    vertical-align: middle;
    margin-right: 0.2em;
}

main {
    padding: 2em 1em 1em 1em;
    display: flex;
    justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

a {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=checkbox],
input[type=text],
input[type=number],
select,
label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

label {
    text-align: right;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 30px;
}

input[type=submit] {
    padding: 0.4em 0.6em;
    font-size: 1em;
    font-weight: bold;
}

input[type=text],
input[type=number] {
    padding: 0.2em 0.4em;
}

input[type=text],
input[type=number],
select {
    border: 1px solid black;
    font-size: 1.1em;
}

select {
    padding: 0.1em 0.2em;
    background: white;
}

th {
    text-align: left;
    font-size: 1.2em;
}
