table.match-choice td,
table.match-choice th {
    text-align: center;
    padding: 0.4em;
}

table.match-choice td a {
    display: block;
    padding: 0.4em 0.8em;
}

table.match-choice td a:hover {
    background: rgb(210, 210, 210);
    text-decoration: none;
}

table.match-choice td .done {
    color: green;
    font-weight: bold;
}
