.score-sheet {
    background: rgb(250, 250, 250);
    padding: 0.8em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-sheet h1 {
    margin-top: 0.2em;
}

.score-sheet h2 {
    margin-top: 0.3em;
}

.score-sheet form {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-sheet .field {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 1em;
}

.score-sheet svg {
    margin-bottom: 1em;
}

.score-sheet svg input[type="text"] {
    letter-spacing: 0.15em;
}

.score-sheet svg input[type="text"].invalid {
    background-color: #F75D59;
}
