<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />

        <title>SR Competition Scorer</title>

        <link href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" rel="icon" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='styles/reset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='styles/all.css') }}" media="all" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <a href="/">
                <h1><img src="{{ url_for('static', filename='images/sr-logo.png') }}" /> SR Competition Scorer</h1>
            </a>
        </header>

        <nav>
            <ul>
                {% block nav %}
                {% endblock %}
            </ul>
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>

</html>
