{% extends "_base.html" %}

{% macro match_cell(match, colspan=1, current_match=False) %}
    <td colspan="{{ colspan }}">
        {% if match is not none %}
            <a href="/{{ match["arena"] }}/{{ match["num"] }}">
                {% if current_match %}
                    Current Match {{ match["num"] }} &mdash; <em>{{ match["teams"]|join(", ") }}</em>
                {% else %}
                    {{ match["num"] }}
                {% endif %}
            </a>
        {% endif %}
    </td>
{% endmacro %}

{% block main %}
    <table>
        <tr>
            <th colspan="8">Arena A</th>
            <th colspan="8">Arena B</th>
        </tr>

        <tr>
            {% for match in current_matches.values() %}
                {{ match_cell(match, colspan=8, current_match=True) }}
            {% endfor %}
        </tr>

        {% for group in map(group_list_dict, grouper(matches, 8)) %}
            <tr>
                {% for arena, matches in group.items() %}
                    {% for match in matches %}
                        {{ match_cell(match) }}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
