{% extends "_base.html" %}

{% block nav %}
    {% if request.path == "/" %}
        <li><a href="/review">Review Scores</a></li>
        <li><a href="/submit">Submit Score Entry</a></li>
    {% elif request.path == "/review" or request.path == "/submit" %}
        <li><a href="{{request.path}}/league">League</a></li>
        <li><a href="{{request.path}}/knockout">Knockout</a></li>
        <li><a href="/">Back to Home</a></li>
    {% else %}
        <li><a href="{{request.path}}/A">Arena A</a></li>
        <li><a href="{{request.path}}/B">Arena B</a></li>
        <li><a href="/">Back to Home</a></li>
    {% endif %}
{% endblock %}
