{% extends "_base.html" %}

{% block nav %}
    <li><a href="/">Back to Home</a></li>
{% endblock %}

{% block main %}
    <h1><a href="/review">{{ category|title }}</a> scores for <a href="/review/{{ category }}">arena {{ arena }}</a></h1>

    {% if scores %}
        <ul class="grid">
            {% for score in scores %}
                <li><a href="/submit/{{ category }}/{{ arena }}/{{ score }}">{{ "{0:0>3}".format(score) }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No scores with these filters.</p>
    {% endif %}
{% endblock %}
