{% extends "_base.html" %}

{% block nav %}
    <li><a href="/">Back to Home</a></li>
{% endblock %}

{% block main %}
    <h1>{{match["type"]|title}} scores for match {{match["num"]}} in arena {{match["arena"]}}</h1>

    {% if error %}
        <h2 class="error">{{error}}</h2>
    {% endif %}

    <form method="POST">
        <table class="update_form">
            <tr>
                <th>Corner</th>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>

            <tr>
                <th colspan="5">Robot Information</th>
            </tr>

            <tr>
                <th>Team (TLA)</th>
                {% for i in range(4) %}
                    <td>
                        {{match["teams"][i]}}
                        {% if match["teams"][i] != None %}
                            <input type="hidden" name="team_tla_{{i}}"
                                   value="{{match["teams"][i]}}" />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Did the robot exit its corner?</th>
                {% for i in range(4) %}
                    <td>
                        <input type="checkbox" name="robot_moved_{{i}}"
                               value="on" {{"checked" if request.form.get("robot_moved_{}".format(i), False) else ""}} />
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Was the robot disqualified?</th>
                {% for i in range(4) %}
                    <td>
                        <input type="checkbox" name="disqualified_{{i}}"
                               value="on" {{"checked" if request.form.get("disqualified_{}".format(i), False) else ""}} />
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Was the robot absent from this match?</th>
                {% for i in range(4) %}
                    <td>
                        <input type="checkbox" name="absent_{{i}}" value="on"
                               {{ "checked" if request.form.get("absent_{}".format(i), False) else "" }} />
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Number of upright tokens in the arena?</th>
                {% for i in range(4) %}
                    <td>
                        <input type="number" name="upright_tokens_{{i}}"
                               value="{{request.form.get("upright_tokens_{}".format(i), 0)}}"
                               required min="0" max="100" />
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th colspan="5">How many tokens does the team have in each zone?</th>
            </tr>

            {% for i in range(4) %}
                <tr>
                    <th>Zone {{ i }}</th>
                    {% for j in range(4) %}
                        <td>
                            <input type="number" name="zone_tokens_{{i}}_{{j}}"
                                   value="{{request.form.get("zone_tokens_{}_{}".format(i, j), 0)}}" />
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            <tr>
                <th colspan="5">Which slot does the team have tokens at the bottom of?</th>
            </tr>

            {% for i in range(8) %}
                <tr>
                    <th>Slot {{ i }}</th>
                    {% for j in range(4) %}
                        <td>
                            <input type="radio" name="slot_bottoms_{{i}}"
                                   value="{{j}}" {{"checked" if int(request.form.get("slot_bottoms_{}".format(i), -1)) == j else ""}} />
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <br />

        <input type="submit" value="Enter Scores" />

    </form>
{% endblock %}
